{% extends "houseapp/base.html" %} {% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                    <div class="content-section">
                        <div class="column">
                            <div>
                                <h2>Tasks
                                    <a class="btn btn-outline-primary" style="float: right" href="{% url 'tasks'%}">Edit</a>
                                </h2>
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Task
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="content-section">
                        <div class="column">
                            <div>
                                <h2>Notifications
                                    <a class="btn btn-outline-primary" style="float: right" href="#">Edit</a>
                                </h2>
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">Not: 1</li>
                                </ul>

                            </div>
                        </div>
                    </div>


            </div>

            <div class="col-md-4">
                <div class="content-section">
                    <h3>Messages</h3>
                    <p class='text-muted'>House messages.
                    <ul class="list-group">

                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>


{% endblock content %}
