{% extends "houseapp/base.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-section">
                    <div class="column">
                        <div>
                            <h2>Tasks
                                <a class="btn btn-outline-primary" style="float: right"
                                   href="{% url 'tasks' %}">Edit</a>
                            </h2>
                        </div>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Task 1</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Member</th>
                            <th scope="col">Due</th>
                            <th scope="col">Task</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td class="mr-2" href="#">{{ task.user }}</td>
                                <td class="text-muted">{{ task.due_date|date:"F d, Y" }}</td>
                                <td><a class="article-title" href="#">{{ task.title }}</a></td>

                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3"></label>
                                    </div>
                                    
                                </td>

                            </tr>
                        {% endfor %}

                        <tr>
                            <th scope="row">
                                Shovel Snow
                            </th>
                            <td>Will</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="column">
                <div>
                    <h2>Notifications
                        <a class="btn btn-outline-primary" style="float: right" href="#">Edit</a>
                    </h2>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">Not: 1</li>
                    </ul>

                </div>
            </div>
        </div>


        </div>

        <div class="col-md-4">
            <div class="content-section">
                <h3>Messages</h3>
                <p class='text-muted'>House messages.
                <ul class="list-group">

                </ul>
                </p>
            </div>
        </div>
        </div>
    </main>


{% endblock content %}
