{% extends "houseapp/base.html" %} {% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>House Settings</h1>
            </div>
            <div class="column">
                <div>


                    <ul class="list-group">

                        <li class="list-group-item">
                            <h3 >Address</h3>
                            <table class="table">

                                <tbody>
                                <tr>
                                    <th scope="row">City</th>
                                    <td>crackhead hamilton</td>

                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>1123 thotbarn</td>

                                </tr>
                                <tr>
                                    <th scope="row">Postal Code</th>
                                    <td>l8s3b1</td>

                                </tr>
                                </tbody>
                            </table>
                        </li>

                        <li class="list-group-item">
                            <h3>Members</h3>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Member 1</li>
                                <li class="list-group-item">Member 2</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </article>
{% endblock content %}